[MASTER]

ignore=tests

[MESSAGE CONTROL]

disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring,
        too-many-positional-arguments

[FORMAT]
max-line-length=150
[REFACTORING]

[DESIGN]
max-attributes=15
max-args=15