{% extends "layout.html" %}

{% block title %}
Create a reference
{% endblock %}

{% block body %}

<h2>Add a reference to a book</h2>

<form action="/add_book" method="post">
  <p>Author:</p>
  <input type="text" name="author" placeholder="required">
  <p>Title:</p>
  <input type="text" name="title" placeholder="required">
  <p>Publisher:</p>
  <input type="text" name="publisher" placeholder="required">
  <p>Year:</p>
  <input type="number" name="year" placeholder="required">
  <p>Editor:</p>
  <input type="text" name="editor" placeholder="optional">
  <p>Volume:</p>
  <input type="text" name="volume" placeholder="optional">
  <p>Number:</p>
  <input type="text" name="number" placeholder="optional">
  <p>Pages:</p>
  <input type="text" name="pages" placeholder="optional">
  <p>Month:</p>
  <input type="text" name="month" placeholder="optional">
  <p>Note:</p>
  <input type="text" name="note" placeholder="optional">
  <button type="submit">
    Add
  </button>
</form>

{% endblock %}