{% extends "layout.html" %}


{% block title %}
Create a reference
{% endblock %}

{% block body %}

<h2>Add a reference to an inproceeding</h2>

<form action="/add_inproceeding" method="post">
  <p>Author:</p>
  Firstname: <input type="text" name="author_firstname" value="{{author_firstname}}" placeholder="required">
  Lastname: <input type="text" name="author_lastname" value="{{author_lastname}}" placeholder="required">
  <p>Title:</p>
  <input type="text" name="title" placeholder="required">
  <p>Booktitle:</p>
  <input type="text" name="booktitle" placeholder="required">
  <p>Year:</p>
  <input type="number" name="year" placeholder="required">
  <p>Editor:</p>
  <input type="text" name="editor" placeholder="optional">
  <p>Volume:</p>
  <input type="number" name="volume" placeholder="optional">
  <p>Number:</p>
  <input type="number" name="number" placeholder="optional">
  <p>Series:</p>
  <input type="text" name="series" placeholder="optional">
  <p>Pages:</p>
  <input type="number" name="pages" placeholder="optional">
  <p>Address:</p>
  <input type="text" name="address" placeholder="optional">
  <p>Month:</p>
  <select name="month">
    {% for month in months %}
    <option value={{month}}>{{month}}</option>
    {% endfor %}
  </select>
  <p>Organization:</p>
  <input type="text" name="organization" placeholder="optional">
  <p>Publisher:</p>
  <input type="text" name="publisher" placeholder="optional">
  <p>
    <button type="submit" name="action" value="add">
      Add Reference
    </button>
    <button type="submit" name="action" value="reset">
      Reset
    </button>
  </p>
</form>

<div>
<p>
  <a href="/add_reference"><button>Add another reference type</button></a>
  <a href="/view_references"><button>View references</button></a>
  <a href="/"><button>Back Home</button></a>
</p>
</div>

{% endblock %}
