{% extends "layout.html" %}

{% block title %}
View references
{% endblock %}

{% block body %}

<h2>Reference edit view</h2>

{% if not books and not articles and not inproceedings %}
  <p><i>Nothing yet!</i></p>
{% endif %}

{% if books %}<h3>Books:</h3>

<form action="/edit_reference" method="POST">
    <label for="book-select">Choose a book to edit:</label>
    <select name="book_id" id="book-select">
        {% for book in books %}
          <option value="{{book.id}}">{{book.title}} id: {{book.id}}</option>
        {% endfor %}
        </select>
    <br><br>
    <Button type="submit" name="edit_book" value="Edit">
      Edit book
    </Button>
</form>
{% endif %} 

{% if articles %}<h3>Articles:</h3>

<form action="/edit_reference" method="POST">
    <label for="article-select">Choose an article to edit:</label>
    <select name="article_id" id="article-select">
        {% for article in articles %}
          <option value="{{article.id}}">{{article.title}} id: {{article.id}}</option>
        {% endfor %}
        </select>
    <br><br>
    <Button type="submit" name="edit_article" value="Edit">
      Edit article
    </Button>
</form>
{% endif %}

{% if inproceedings %}<h3>Inproceedings:</h3>

<form action="/edit_reference", method="POST">
    <label for="inproceeding-select">Choose an inproceeding to edit:</label>
    <select name="inproceeding_id" id="inproceeding-select">
        {% for inproceeding in inproceedings %}
          <option value="{{inproceeding.id}}">{{inproceeding.title}} id: {{inproceeding.id}}</option>
        {% endfor %}
        </select>
    <br><br>
    <Button type="submit" name="edit_inproceeding" value="Edit">
      Edit inproceeding
    </Button>
</form>
{% endif %}
<br>


{% endblock %}
      
