<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    
    <div class="header">
      
        <a href="/add_reference"><button>Add another reference type</button></a>
        <a href="/view_references"><button>View references</button></a>
        <a href="/export"><button>Export to file</button></a>
        <a href="/edit_reference"><button>Edit a reference</button></a>
        <a href="/remove_reference"><button>Remove a reference</button></a>
        <a href="/"><button>Back Home</button></a>
      </div>
  
    <div class="m_body">

      {% with messages = get_flashed_messages(with_categories=true) %}

      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <p><strong>{{ category }}</strong> {{ message }}</p>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}

  </div>
  </body>
</html>
