<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <header>
      {% block header %}{% endblock %}
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}

    <div class="m_body">

      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <p><strong>{{ category }}</strong> {{ message }}</p>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}


  </div>

  <div>

  {% block body %}{% endblock %}
</div>
</body>
</html>
