{% extends "layout.html" %}

{% block title %}
Update Reference
{% endblock %}

{% block header %}
<header>
    <a href="/"><button>Back Home</button></a>
    <a href="/add_reference"><button>Add New Reference</button></a>
    <a href="/edit_reference"><button>Edit References</button></a>
    <a href="/remove_reference"><button>Remove References</button></a>
</header>
{% endblock %}

{% block body %}
<div class="input-form">
    <h2>Edit Article Reference</h2>

    <form action="/update_article/{{ article_id }}" method ="post">

        <label for="author">Author(s):</label>
        <input type="hidden" name="author_count" value="{{ author_count }}">
        {% for idx in range(author_count) %}
            <div class="author-row">
                <p>
                <label>First name(s):</label>
                <input type="text" name="author_firstname_{{ idx }}"
                        value="{{ authors[idx].rsplit(' ', 1)[0] if idx < authors|length else '' }}"
                        placeholder="required (if no editors)">
                <label>Last name:</label>
                <input type="text" name="author_lastname_{{ idx }}"
                        value="{{ authors[idx].rsplit(' ', 1)[1] if idx < authors|length else '' }}"
                        placeholder="required">

                {% if idx == author_count - 1 %}
                    <button type="submit" name="action" value="add_author">+</button>
                {% endif %}
                {% if idx == author_count - 1 and idx != 0 %}
                    <button type="submit" name="action" value="remove_author">-</button>
                {% endif %}
                </p>
            </div>
        {% endfor %}

        <p>Title:</p>
        <input type="text" name="title" value="{{ title }}" placeholder="required">
        <p>Journal:</p>
        <input type="text" name="journal" value="{{ journal }}" placeholder="required">
        <p>Year:</p>
        <input type="number" name="year" value="{{ year }}" placeholder="required">
        <p>Volume:</p>
        <input type="text" name="volume" value="{{ volume }}" placeholder="optional">
        <p>Number:</p>
        <input type="text" name="number" value="{{ number }}" placeholder="optional">
        <p>Pages:</p>
        <input type="text" name="pages" value="{{ pages }}" placeholder="optional">
        <p>Month:</p>
        <select name="month">
            {% for month in months %}
            <option {% if month == imported_month %}selected{% endif %}>{{month}}</option>
            {% endfor %}
        </select>
        <p>Note:</p>
        <input type="text" name="note" value="{{ note }}" placeholder="optional">
        <p>
            <button type="submit" name="action" value="update">
                Update reference
            </button>
        </p>
    </form>
</div>
{% endblock %}
