{% extends "layout.html" %}

{% block title %}
Update Reference
{% endblock %}

{% block body %}
<h2>Edit Book Reference</h2>

<form action="/update_book/{{ reference.id }}" method="POST">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="{{ reference.title }}" required>
    <br><br>
    
    <label for="author">Author:</label>
    <input type="text" id="author" name="author" value="{{ reference.author }}" required>
    <br><br>
    
    <label for="year">Year:</label>
    <input type="text" id="year" name="year" value="{{ reference.year }}" required>
    <br><br>
    
    <label for="publisher">Publisher:</label>
    <input type="text" id="publisher" name="publisher" value="{{ reference.publisher }}" required>
    <br><br>
    
    <label for="editor">Editor (optional):</label>
    <input type="text" id="editor" name="editor" value="{{ reference.editor }}">
    <br><br>
    
    <label for="volume">Volume (optional):</label>
    <input type="number" id="volume" name="volume" value="{{ reference.volume }}">
    <br><br>
    
    <label for="number">Number (optional):</label>
    <input type="number" id="number" name="number" value="{{ reference.number }}">
    <br><br>
    
    <label for="pages">Pages (optional):</label>
    <input type="text" id="pages" name="pages" value="{{ reference.pages }}">
    <br><br>
    
    <label for="month">Month (optional):</label>
    <select name="month">
        {% for month in months %}
        <option {% if month == reference.month %}selected{% endif %}>{{month}}</option>
        {% endfor %}
    </select>
    <br><br>
    
    <label for="note">Note (optional):</label>
    <textarea id="note" name="note">{{ reference.note }}</textarea>
    <br><br>
    
    <input type="submit" value="Update Book">
</form>

<a href="/view_references"><button>Back to References</button></a>
{% endblock %}
