:root {
    --bg-clr: #b3b3b3;
    --white: #fff;
    --readonly: #d4d4d4;
    --invoice-bg: #e7e7e9;
    --primary-clr: #2f2929;
    --red: #ffc2c2;
    --red-hover: #fb9d9d;
  }

  /**margin : 200px;**/

body { 
  margin: 0;
  padding: 0;
  background-color: #c8f3b6;
}

.m_body{
  padding-top: 20px;

  padding-left: 20px;
}

button{
  background-color: white;
}

button:hover{
  background-color:rgb(57, 196, 57);
}

.header {
  background-color: #192c11;
  /**height: 20%;**/
  padding-top: 30px;
  padding-bottom: 30px;

}

.header button{
  margin-left: 10px;
}